body{
  background-color: #162534;
}
.feature{
  padding-bottom: 50px;
  align-items: center;
}
.feature1{
  display: flex;
  justify-content: center;
}
.feature1 p{
  text-align: center;
  color: white;
}
h1{
  color: white;
}
.feature1 img{
  width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 10px 20px 0px 20px;
}
